// Palette
$accent_orange: #ef6f31;
$accent_indigo: #3f3a64;
$primary_white: #fbf9f6;

// Common
a.orange-button {
  display: inline-block;
  background-color: $accent_orange;
  color: white;
  font-weight: 600;
  padding: .5rem 1.6rem;
  border-radius: 6px;
}

a.orange-button.inverted {
  background-color: #fdf0ea;
  color: $accent_orange;

  &:hover {
    background-color: $accent_orange;
    color: white;
  }
}

span.style-signature {
  font-family: 'Oooh Baby', cursive;
  font-size: 50px;
  font-weight: 500;
  color: #68c5f1;
}