:root {

  /* General Style */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-rendering: geometricPrecision;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {

}
 */

#app {
  /* Centered App Container */
  max-width: 1923px;
  margin: 0 auto;
}